[v-cloak] {
    display: none;
  }

.container{
    background-color:rgb(65, 216, 203);
    /* width: 500px;
    height: 600px; */
    width: 1080px;
    height: 2160px;
    
    
}

p{
    margin: 0%;
}

.date{
    font-size: 50px;
}

.left{
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    font-family: 华文仿宋;
   
}

.right{
    float: right;
    margin-top: 50px;
}

#title{
    
    height: 380px;
    
    
    
}

#lyric{
    margin-top:200px; 
    margin-bottom:50px ;
    height: 50%;
}

#more{
    height: 20%;
    margin-top: 60px;
}

#songname{
    font-size: 50px;
    margin-bottom: 20px;
}

.span_top,.span_bottom{
    font-size: 100px;
}


.span_top{
    text-align: left;
}
.span_bottom{
    text-align: right;
}
.content{
    text-align: center;
    font-size: 100px;
    margin-left: 50px;
    margin-right: 50px;

    white-space: pre-wrap;
}


#ccal {
    font-size: 50px;
    font-family: 华文仿宋;
    font-style: initial

    
}

#year{
    font-size: 100px
}

#week{
    font-size: 70px;
}

#day{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300px;
}